.container
  #myList.list-group.list-group-horizontal.d-flex.justify-content-center.text-center[role="tablist"]
    a.list-group-item.list-group-item-action.active[data-toggle="list" href="#resume" role="tab"]
      | Resume
    a.list-group-item.list-group-item-action[data-toggle="list" href="#projects" role="tab"]
      | Projects
  br
  .tab-content.text-center
    #resume.tab-pane.fade.show.active[role="tabpanel"]
      table.table
        tbody
          tr
            td
              strong
                | Height:
              |  height
              br
              strong
                | Width:
              |  width
              br
              strong
                | Eyes:
              |  eye colors
              br
              strong
                | Hair:
              |  hair colors 
            td
            td
          th.scope
            h4
              | Film
          tr
            td
              | Resume Template Movie
            td
              | Character Portrayal
            td
              | Director
              br
              | Producer
          tr
            td
              | Resume #2: The Template Strikes Back
            td
              | Character Portrayal
            td
              | Director
          tr
            td
              | An Actor's Tale
            td
              | Character Portrayal
            td
              | Film Company
          tr
            th.scope
              h4
                | Commercial
          tr
            td
              | Resume Advertisements
            td
              | Character Portrayal
            td
              | Production Company
          tr
            th.scope
              h4
                | Theater
          tr
            td
              | A Theatrical Resume
            td
              | Character Portrayal
            td
              | Director Name
          tr
            th.scope
              h4
                | Training
          tr
            td
              | Improv Training Mid-Level
            td
              | Coach Name
            td
              | Acting Academy
          tr
            td
              | Choreography
            td
              | Coach Name
            td
              | Celebrity Fighting Events
          tr
            th.scope
              h4
                | Skills
          tr
            td
              strong
                | Language:
              |  Spanish, English, French
              br
              strong
                | Sport:
              |  Soccer, Basketball, Football
              br
              strong
                | Music:
              |  Background Singer
              br
            td
            td
    #projects.tab-pane.fade[role="tabpanel"]
      .media-objects
        .media
          a[href="/actor/projects/1"]

          .imgholder
            img.mr-3[src="img/909080.png" alt="Generic placeholder image"]
          .media-body
            h3.mt-0
              | A Video On My Template
            h5.mt-0
              | An Introduction Video
            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
        .media
          a[href="/actor/projects/2"]

          .imgholder
            img.mr-3[src="img/0000FF.png" alt="Generic placeholder image"]
          .media-body
            h3.mt-0
              | Sneek Peak To Success
            h5.mt-0
              | A Movie Genre
            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
        .media
          a[href="/actor/projects/3"]

          .imgholder
            img.mr-3[src="img/909080.png" alt="Generic placeholder image"]
          .media-body
            h3.mt-0
              | Intro Demo Reel
            h5.mt-0
              | Documentary Genre
            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
br