<div class="container">
    <!-- List group -->
    <div class="list-group list-group-horizontal d-flex justify-content-center text-center" id="myList" role="tablist">
        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#resume" role="tab">Resume</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#projects" role="tab">Projects</a>
    </div>
    <!-- List group -->
    <br>
    <!-- Tab panes -->
    <div class="tab-content text-center"> 
        <div class="tab-pane fade show active" id="resume" role="tabpanel">
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>Height:</strong> height<br>
                            <strong>Width:</strong> width<br>
                            <strong>Eyes:</strong> eye colors<br>
                            <strong>Hair:</strong> hair colors
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                        <th class="scope"><h4>Film</h4></th>
                    <tr>
                        <td>Resume Template Movie</td>
                        <td>Character Portrayal</td>
                        <td>Director<br>Producer</td>
                    </tr>
                    <tr>
                        <td>Resume #2: The Template Strikes Back</td>
                        <td>Character Portrayal</td>
                        <td>Director</td>
                    </tr>
                    <tr>
                        <td>An Actor's Tale</td>
                        <td>Character Portrayal</td>
                        <td>Film Company</td>
                    </tr>
                    <tr>
                        <th class="scope"><h4>Commercial</h4></th>
                    </tr>
                    <tr>
                        <td>Resume Advertisements</td>
                        <td>Character Portrayal</td>
                        <td>Production Company</td>
                    </tr>
                    <tr>
                        <th class="scope"><h4>Theater</h4></th>
                    </tr>
                    <tr>
                        <td>A Theatrical Resume</td>
                        <td>Character Portrayal</td>
                        <td>Director Name</td>
                    </tr>
                    <tr>
                        <th class="scope"><h4>Training</h4></th>
                    </tr>
                    <tr>
                        <td>Improv Training Mid-Level</td>
                        <td>Coach Name</td>
                        <td>Acting Academy</td>
                    </tr>
                    <tr>
                        <td>Choreography</td>
                        <td>Coach Name</td>
                        <td>Celebrity Fighting Events</td>
                    </tr>
                    <tr>
                        <th class="scope"><h4>Skills</h4></th>
                    </tr>
                    <tr>
                        <td><strong>Language:</strong> Spanish, English, French<br>
                            <strong>Sport:</strong> Soccer, Basketball, Football<br>
                            <strong>Music:</strong> Background Singer<br>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="projects" role="tabpanel">
            <div class="media-objects">
                <div class="media">
                    <a href="/actor/projects/1">
                        <div class="imgholder">
                            <img class="mr-3" src="img/909080.png" alt="Generic placeholder image">
                        </div>
                    </a>
                    <div class="media-body">
                        <h3 class="mt-0">A Video On My Template</h3>
                        <h5 class="mt-0">An Introduction Video</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <div class="media">
                    <a href="/actor/projects/2">
                        <div class="imgholder">
                            <img class="mr-3" src="img/0000FF.png" alt="Generic placeholder image">
                        </div>
                    </a>
                    <div class="media-body">
                        <h3 class="mt-0">Sneek Peak To Success</h3>
                        <h5 class="mt-0">A Movie Genre</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <div class="media">
                    <a href="/actor/projects/3">
                        <div class="imgholder">
                            <img class="mr-3" src="img/909080.png" alt="Generic placeholder image">
                        </div>
                    </a>
                    <div class="media-body">
                        <h3 class="mt-0">Intro Demo Reel</h3>
                        <h5 class="mt-0">Documentary Genre</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tab panes -->
</div>
<br>
