<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="bg-dark carousel-item active">
            <img class="d-block w-100" src="img/111.png" alt="First slide">
        </div>
        <div class="bg-info carousel-item">
            <img class="d-block w-100" src="img/960x500.png" alt="Second slide">
        </div>
        <div class="bg-primary carousel-item">
            <img class="d-block w-100" src="img/008000.png" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<!-- MAIN ARTICLE/ WELCOME -->
<div id="main-article" class="container main bg-light">
    <div class="wrapper">
        <div class="content text-white">
            <h2>Welcome!</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam pellentesque nec nam aliquam sem et tortor consequat id. Vestibulum lorem sed risus ultricies. Elementum nibh tellus molestie nunc non. Lacus luctus accumsan tortor posuere ac ut.
        </div>
    </div>
</div>
<!-- MAIN ARTICLE/ WELCOME -->
<br>
<!-- New VIDEO/POST UPDATE MAIN ARTICLE -->
<div id="update-articles" class="container update bg-dark">
    <div class="wrapper">
        <div class="content text-white">
            <h3>Meanwhile...</h3>
            <h4>Awesome News</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eleifend donec pretium vulputate sap.</p>
            <span class="text-white">Lorem ipsum dolor sit amet.</span>
            <hr>
            <h4>Awesome News</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eleifend donec pretium vulputate sap.</p>
        </div>
    </div>
</div>
<!-- New VIDEO/POST/UPDATE MAIN ARTICLE -->
<br>